html {
    background-color: #738276;
    color: black;
}

title {
    display: none;
}

body {
    font-family: "times new roman", times, serif;
    background-color: #faf0e6;
    color: black;
    border: solid black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "palatino linotype", "book antiqua", palatino, serif;
    font-weight: bold;
    color: #2f4f4f;
    display: flex;
    justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CED4CF;
  border-top: solid black;
  border-bottom: solid black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: "palatino linotype", "book antiqua", palatino, serif;
  font-weight: bold;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
}

li a:hover {
  background-color: #B7BFB8;
}

li a:visited {
    color: black;
}

p {
    margin: 10px;
}

a:link {
    color: black;
}

a:visited {
    color: #9e619e;
}

.content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.content img.cover {
    border-radius: 15px;
    border: solid black;
    width: 500px;
    margin: 10px;
}

.details {
    width: calc(100% - 500px);
}
@media only screen and (max-width: 480px) {
    .content {
        flex-direction: column;
    }
    .details {
        width: 100%;
    }
}



